@import './_reset';
@import './_variables';

html {
  font-size: $regular-text;
}

body {
  font-family: $userfont;
  line-height: $lineheight;
  color: $text;
  min-width: 320px;
  position: relative;


  background-color: #fff;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ToDo_Title {
  font-size: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.item-enter {
  opacity: 0;
  transform: translateX(200px);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.item-exit {
  opacity: 1;
  transform: translateX(0);
}

.item-exit-active {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 500ms ease-in;
}